
  form{
    color: #36A0FF;
    font-size: 27px;
    }

.formulario{
  padding-top: 1.5em;
}

.anchoForm {
	       width:50%;
           }

.centrarForm{
	        width: 100%;
            }

.paddingEnviar{
 	          padding-right: 180px;
              }

.mapaContacto{
  padding: 1.5em 0 1.5em 0;
}